/*Header*/

.header {
  border-bottom: 1px solid var(--accent-color-cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo-header {
  font-family: var(--second-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-dark {
  color: var(--dark-color-navy-blue);
}

@media screen and (max-width: 767px) {
  .nav-list-item {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--dark-color-navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color-ocean);
}

.nav-link.current {
  color: var(--pressed-state-color-ocean);
}

.nav-link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-color-ocean);
  position: absolute;
  bottom: -1px;
  left: 0;
}

.header-adress {
  font-style: normal;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-adress {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .adress-list {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 40px;
  }
}

@media screen and (max-width: 1157px) {
  .adress-list-item:first-child {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  .adress-link {
    color: var(--text-color-slate);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .adress-link {
    font-size: 16px;
    line-height: 1.5;
    display: inline-block;
  }
}
.adress-link:hover,
.adress-link:focus {
  color: var(--pressed-state-color-ocean);
}
